#header

<link href="$!base/static/css/button-style.css" rel="stylesheet" type="text/css" />
<form method="post" class="form form-horizontal" id="$formId">
<div class="page-container">

<div class="cl mt-20">
商品名称：<input type="text" id="name" name="name" style="width:150px" class="input-text" />
<br>
<br>
	<table class="table table-border table-bordered table-hover table-bg table-sort" id="talbe_sup">
		<tr>
			<td onclick="changedir(0)" background="../images/borrow.png">$!hnpfb</td>
			<td align="right">
				<select id='suppliersId' name='suppliersId'>
					#foreach($item in $!supList)
						<option value="$!item.id">$!item.name</option>
					#end
				</select>
				<input id="hnpfb" type="hidden" value="$!hnpfb">	
			</td>
		</tr>
	</table>
	<table id="table1" class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="250px">商品名称</th>
				<th width="150px">规格</th>
				<th width="">数量</th>
				<th width="50px">操作</th>
			</tr>
			
		</thead>
		<tbody id="gitbody">
		</tbody>
		</table>
		
		</div>
		</div>
		<div align="center" id="div_btn" hidden="hidden">
		<input type="button" id="btnSend" name="btnSend" class="button button-primary button-rounded button-small" value=" 提   交"> 
		<input type="button" class="button button-primary button-rounded button-small" value=" 删   除" onclick="delRow(this,-1)"> 
		</div>
</form>
#footer
#autocomplete("name" "1" "selectPro" "closeAjaxDo")
<script>
	var urlPath = "$!base/addBorrowGoodsInfo/addList";
	var msgInfo = "借货信息";

	
	var cdtyps = 0;
	function changedir() {
		if(cdtyps == 1) {
			alert("借进商品");
			$("#talbe_sup tr:eq(-1) td:eq(-2)").before("<td onclick='changedir()' background='../images/borrow.png'>" + $("#hnpfb").val() + "</td>")
			$("#talbe_sup tr:eq(-1) td:eq(-2)").attr("background", "");
			$("#talbe_sup tr:eq(-1) td:eq(-1)").remove();
			cdtyps = 0;
		} else {
			alert("其他商行借货");
			$("#talbe_sup tr:eq(-1) td:eq(-2)").remove();
			$("#talbe_sup tr:eq(-1) td:eq(-1)").after("<td onclick='changedir()' >" + $("#hnpfb").val() + "</td>")
			$("#talbe_sup tr:eq(-1) td:eq(-2)").attr("background", "../images/borrow.png");
			cdtyps = 1;
		}
	}
	
	</script>
#addprojs