#header



<link href="$!base/static/css/button-style.css" rel="stylesheet" type="text/css" />
<form method="post" class="form form-horizontal" id="$formId">
<div class="page-container">

<div class="cl mt-20">
商品名称：<input type="text" id="name" name="name" style="width:150px" class="input-text" />
<br>
<br>
	<table class="table table-border table-bordered table-hover table-bg table-sort" id="talbe_sup">
		<tr>
			<td onclick="changedir(0)" background="../images/borrow.png">$!hnpfb</td>
			<td align="right">
				<select id='suppliersId' name='suppliersId'>
					#foreach($item in $!supList)
						<option value="$!item.id">$!item.name</option>
					#end
				</select>
				<input id="hnpfb" type="hidden" value="$!hnpfb">	
			</td>
		</tr>
	</table>
	<table id="table1" class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="300px">商品名称</th>
				<th width="100px">规格</th>
				<th width="">数量</th>
				<th width="50px">操作</th>
			</tr>
			
		</thead>
		<tbody id="gitbody">
		</tbody>
		</table>
		
		</div>
		</div>
		<div align="center" id="div_btn" hidden="hidden">
		<input type="button" id="btnSend" name="btnSend" class="button button-primary button-rounded button-small" value=" 提   交"> 
		<input type="button" class="button button-primary button-rounded button-small" value=" 删   除" onclick="delRow(this,-1)"> 
		</div>
</form>
#footer
#autocomplete("name" "1" "selectPro" "closeAjaxDo")

<script type="text/javascript" src="$!base/static/js/product-goods.js"></script> 
<script>
	var row_name = 0;
	var row_count = 0; 
	function selectPro(data) {
		//console.log(data);	
		//data.data.goodsName;
		var obj = data.data;
		var table1 = $('#table1'); 
		var firstTr = table1.find('tbody>tr:first'); 
		var row = $("<tr id=tr" + row_name + "></tr>");
		var td2 = $("<td id=td" + row_name + ">"+"</td>"); 
		var td3 = $("<td id=td" + row_name + ">"+"</td>"); 
		var td4 = $("<td id=td" + row_name + ">"+"</td>"); 
		var td8 = $("<td id=td" + row_name + ">"+"</td>"); 
		td2.append("<label> "+ obj.goodsName + " </label>");
		td2.append("<input type='hidden' id='productId' name='productId' value='"+ obj.id + "' >");
		td3.append("<label> " + obj.goodsSpecifications + " " + obj.goodsCategorys + " \\ " + obj.goodsCategory + " </label>");
		td4.append("<button type='button' onclick='changeCounts(1,"+ obj.goodsSpecifications+ "," +row_name+",-1)' class='button button-box button-tiny'><i class='fa fa-plus'>-</i></button>");
		td4.append("<input style='width:100px' onfocus='$(this).select()' onkeyup='changeKeyUp(this,"+ obj.goodsSpecifications+ "," +row_name+",1)'  class='input-text'  type='text' id='goodsCounts' name='goodsCounts' value=0>");
		td4.append("<button type='button' onclick='changeCounts(1,"+ obj.goodsSpecifications+ "," +row_name+",1)' class='button button-box button-tiny'><i class='fa fa-plus'>+</i></button>&nbsp;&nbsp;");
		td4.append(obj.goodsCategory);
		td4.append("&nbsp;&nbsp;<button type='button' onclick='changeCounts(2,"+ obj.goodsSpecifications+ "," +row_name+",-1)' class='button button-box button-tiny'><i class='fa fa-plus'>-</i></button>");
		td4.append("<input style='width:100px' onfocus='$(this).select()' onkeyup='changeKeyUp(this,"+ obj.goodsSpecifications+ "," +row_name+",-1)' class='input-text' size=1 type='text' id='goodsNum' name='goodsNum' value=0>") ;
		td4.append("<button type='button' onclick='changeCounts(2,"+ obj.goodsSpecifications + "," +row_name+",1)' class='button button-box button-tiny'><i class='fa fa-plus'>+</i></button>&nbsp;&nbsp;");
		td4.append(obj.goodsCategorys);
		td8.append("<a onclick='delRow(this,1)'>删除</a>") ;
		row.append(td2); 
		row.append(td3); 
		row.append(td4); 
		row.append(td8); 
		table1.append(row);
		row_count++;
		row_name++;
		//alert("#name").val();
	}
	
	function closeAjaxDo() {
		$("#name").val("");
		$("#name").select();
		$("#name").focus();
		$("#div_btn").show();
	}

	function delRow(obj,types) 
	{ 
		if(types == 1) {
			if(confirm("是否删除该条借货？")) {
				$(obj).parent().parent().remove(); 
				if($("#gitbody").find("tr").size() == 0 ){
					$("#div_btn").hide();
				}
			}
			
		} else {
			if(row_count > 0) {
				if(confirm("是否删除全部借货信息？")) {
					$("#gitbody").find("tr").remove();
					row_count = 0;
					row_name = 0;
					$("#div_btn").hide();
				}
			}
		}
	}
	function del() 
	{ 
	var checked = $("input[type='checkbox'][name='count']"); 
	$(checked).each(function(){ 
	if($(this).attr("checked")==true) //注意：此处判断不能用$(this).attr("checked")==‘true'来判断。 
	{ 
	$(this).parent().parent().remove(); 
	} 
	}); 
	} 
	
	function changeCounts(t1,gs,nums,types) {
		var name = "";
		gs= Number(gs);
		var obj1 = $("#tr" + nums).find("td:eq(2)").find("input[name='goodsCounts']");
		var obj2 = $("#tr" + nums).find("td:eq(2)").find("input[name='goodsNum']");
		if(t1== 1) {
			name = "goodsCounts";
			addAndSub(name,nums,types);
			obj2.val(Number(obj1.val()) * gs);
			
		}else{
			name = "goodsNum";
			addAndSub(name,nums,types);
			obj1.val((Number(obj2.val()) / gs).toFixed(2));
		}
	}
	
	function addAndSub(name,nums,types) {
		var obj = $("#tr" + nums).find("td:eq(2)").find("input[name="+ name +"]");
		var val = Number(obj.val());
		$(obj).val($(obj).val().replace(/[^\d.-]/g, '').replace(/(^\s*)|(\s*$)/g,''));
		//if(val == 0) {
		//	$($("#tr" + nums).find("td:eq(2)").find("button").index(0)).attr("disabled",false);
		//} else {
		//	$($("#tr" + nums).find("td:eq(2)").find("button").index(0)).removeAttr("disabled"); 
		//}
		val = ~~val;
		if(types == 1) {
			obj.val(val + 1);
		}else {
			var counts = val;
			if(counts <= 0) {
				obj.val(0)
			} else {
				obj.val(val - 1);
			}
		}
	}
	
	function changeKeyUp(obj,gs,nums,types) {
		gs = Number(gs);
		$(obj).val($(obj).val().replace(/[^\d.-]/g, '').replace(/(^\s*)|(\s*$)/g,''));
		var name = "";
		if(types == 1) {
			name = "goodsNum";
			var inp = $("#tr" + nums).find("td:eq(2)").find("input[name="+ name +"]")
			inp.val(Number($(obj).val()) * gs);
		} else {
			name = "goodsCounts";
			var inp = $("#tr" + nums).find("td:eq(2)").find("input[name="+ name +"]")
			inp.val((Number($(obj).val()) / gs).toFixed(2));
		}
	}
	
	$("#btnSend").click(function() {
		if($("#gitbody").find("input[name='productId']").size() == 0) {
			alert("请录入收货信息！");
			return;
		}
		var gdata = new Array();
		var supId = $("#suppliersId").val();
		$("#gitbody").find("tr").each(function() {
			var obj = {};
			var info = $(this);
			obj["suppliersId"] = supId;
			obj["productId"] = info.find("input[name='productId']").val();
			obj["nums"] = info.find("input[name='goodsNum']").val();
			obj["type"] = cdtyps;
			obj["status"] = 0;
			gdata.push(obj);
		});
		alert(cdtyps+"接近接触")
		console.log(gdata);
		toJson("$!base/addBorrowGoodsInfo/addList",gdata,function(result) {
			window.location.reload()
		});
		
	});

	

	
	var cdtyps = 0;
	function changedir() {
		if(cdtyps == 1) {
			alert("借进商品");
			$("#talbe_sup tr:eq(-1) td:eq(-2)").before("<td onclick='changedir()' background='../images/borrow.png'>" + $("#hnpfb").val() + "</td>")
			$("#talbe_sup tr:eq(-1) td:eq(-2)").attr("background", "");
			$("#talbe_sup tr:eq(-1) td:eq(-1)").remove();
			cdtyps = 0;
		} else {
			alert("其他商行借货");
			$("#talbe_sup tr:eq(-1) td:eq(-2)").remove();
			$("#talbe_sup tr:eq(-1) td:eq(-1)").after("<td onclick='changedir()' >" + $("#hnpfb").val() + "</td>")
			$("#talbe_sup tr:eq(-1) td:eq(-2)").attr("background", "../images/borrow.png");
			cdtyps = 1;
		}
	}
	
	</script>