#detail({
	"id":"form-borrowgoods-edit",
	"hiddens":[
		{"name":"id","value":"$!obj.id"},
		{"name":"productId","value":"$!obj.productId"},
		{"name":"goodsSpecifications","value":"$!obj.goodsSpecifications"},
		{"name":"productBuyPrice","value":"$!obj.productBuyPrice"},
		{"name":"productFreight","value":"$!obj.productFreight"},
		{"name":"numsed","value":"$!obj.nums"},
		{"name":"moneyType","value":"$!obj.moneyType"},
		{"name":"typs","value":"$!typs"}
	],
	"rows":[
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"商品名称"},
			{"colType":"text","length":"9","name":"goodsName","value":"$!obj.productName","placeholder":"请输入商品名称","readonly":"true"}
		]},
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"商品分类"},
			{"colType":"text","length":"2","name":"dicVal","value":"$!obj.dicVal","readonly":"true"},
			{"colType":"label","length":"2","colRequired":true,"text":"商品规格"},
			{"colType":"text","length":"2","name":"goodsSpecificationsmsg","value":"$!obj.goodsSpecifications $!obj.goodsCategorys / $!obj.goodsCategory","readonly":"true"}
		]},
		{"cols":[
			{"colType":"label","length":"2","text":"商品数量"},
			{"colType":"text","length":"0","name":"counts","value":"$!obj.counts"},
			{"colType":"text","length":"0","name":"goodsCategory","value":"$!obj.goodsCategory","readonly":"true"},
			{"colType":"text","length":"0","name":"nums","value":"$!obj.nums"},
			{"colType":"text","length":"0","name":"goodsCategorys","value":"$!obj.goodsCategorys","readonly":"true"}
		]},
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"供应商名称"},
			{"colType":"text","length":"0","name":"","value":"$!obj.supName","readonly":"true"}
		]},
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"状态"},
			{"colType":"select","length":"9","name":"status","value":"$!obj.status","placeholder":"请输入状态","options":[{"value":"0","text":"新增"},{"value":"1","text":"归还"},{"value":"-1","text":"失效"}],"readonly":"true"}
		]},
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"方式"},
			{"colType":"select","length":"9","name":"type","value":"$!obj.type","placeholder":"请输入状态","options":[{"value":"0","text":"借进"},{"value":"1","text":"借出"}]}
		]},
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"付款方式"},
			{"colType":"select","length":"9","name":"moneyType","value":"0","placeholder":"请输入状态","options":[{"value":"0","text":"现金"},{"value":"1","text":"微信"},{"value":"2","text":"银行"},{"value":"3","text":"其他"}]}
		]},
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"金额"},
			{"colType":"text","length":"9","name":"money","value":"$!obj.money","placeholder":"请输入金额"}
		]}
	]
})
<script>
$(function(){
	var sp = $("#goodsSpecifications").val();
	var typs = $("#typs").val();
	if(typs == 1) {
		$("#form-borrowgoods-edit").find("div[class='row cl']:eq(-1)").hide();
		$("#form-borrowgoods-edit").find("div[class='row cl']:eq(-2)").hide();
	} else if(typs == 2) {
		$(".layui-layer-btn0").text("归还");
		$(".layui-layer-btn0").prepend("<i class='Hui-iconfont Hui-iconfont-save'></i>");
		$("#form-borrowgoods-edit").find("div[class='row cl']:eq(-1)").show();
		$("#form-borrowgoods-edit").find("div[class='row cl']:eq(-2)").show();
		var pbp = Number($("#productBuyPrice").val());
		var pf = Number($("#productFreight").val());
		var status = $("#status");
		var counts = $("#counts");
		var nums = $("#nums");
		var type = $("#type");
		var sumnums = Number(nums.val());
		$("#money").val(Number((sumnums / sp) * (pbp + pf)).toFixed(2));
		counts.before("<p>"+ counts.val()+"</p>");
		nums.before("<p>"+ nums.val()+"</p>")
		status.before("<p>"+ bgStatustype[status.val()] +"</p>");
		type.before("<p>"+ bgtype[type.val()] +"</p>");
		status.hide();
		counts.hide();
		nums.hide();
		type.hide();
	} else if(typs == 3) {
		$(".layui-layer-btn0").hide();
		var status = $("#status");
		var counts = $("#counts");
		var nums = $("#nums");
		var type = $("#type");
		counts.before("<p>"+ counts.val()+"</p>");
		nums.before("<p>"+ nums.val()+"</p>")
		status.before("<p>"+ bgStatustype[status.val()] +"</p>");
		type.before("<p>"+ bgtype[type.val()] +"</p>");
		status.hide();
		counts.hide();
		nums.hide();
		type.hide();
		var moneyType = $("#moneyType").val().trim();
		if(moneyType == ""){
			$("#form-borrowgoods-edit").find("div[class='row cl']:eq(-1)").hide();
			$("#form-borrowgoods-edit").find("div[class='row cl']:eq(-2)").hide();
		} else {
			var money = $("#money");
			var moneyType = $("#moneyType");
			money.before("<p>" + money.val().trim() + "</p>");
			moneyType.before("<p> "+ bgmoneytype[moneyType.val()] +" </p>");
			money.hide();
			moneyType.hide();
			alert()
		}
	}
	
	
	$("#counts").keyup(function(){
		isDoubles(this);
		var val = $(this).val();
		$("#nums").val(Math.ceil(val*sp));
	});
	
	$("#nums").keyup(function(){
		isNum(this);
		var val =  $(this).val();
		var num2 = val/sp;
		$("#counts").val(num2.toFixed(2));
	});

	$("#form-borrowgoods-edit").validate({
		rules:{
			"counts":{
				maxlength:10,
				required:true,
				number: true
			},
			"nums":{
				maxlength:10,
				required:true,
				digits: true
			},
			"status":{
				maxlength:10,
				required:true,
				digits: true
			}
		}
	});
})



</script>