#macro(header)

<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<!--[if lt IE 9]>
<script type="text/javascript" src="$!base/static/lib/html5.js"></script>
<script type="text/javascript" src="$!base/static/lib/respond.min.js"></script>
<script type="text/javascript" src="$!base/static/lib/PIE_IE678.js"></script>
<![endif]-->

<link href="$!base/static/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="$!base/static/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="$!base/static/lib/Hui-iconfont/1.0.6/iconfont.css" rel="stylesheet" type="text/css" />
<link href="$!base/static/skin/default/skin.css" rel="stylesheet" type="text/css" id="skin" />
<link href="$!base/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="$!base/static/css/laypage.css" rel="stylesheet" type="text/css" />
<link href="$!base/static/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css">
<link href="$!base/static/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="$!base/static/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$!base/static/lib/jquery/1.9.1/jquery.min.js"></script> 
<link href="$!base/static/lib/cityPicker/css/city-picker.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
	<script type="text/javascript" src="$!base/static/plus/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<script>
var base = "$!base/";
var system = base + "static/"

/**
 * yyt
 */
var bgtype = {"0":"借进","1":"借出","2":"对冲借进","3":"对冲借出"};
var bgStatustype = {"0":"正常","-1":"失效","1":"已归还","2":"系统对冲"};
var bgmoneytype = {"0":"现金","1":"微信","2":"银行","3":"其他"};
</script>
<style>
.page-container{
	padding: 20px;
	padding-top:0px;
}
.tabBar{
	border-bottom:2px solid #3F88C7
}
.tabBar span{
	height:40px;
	line-height:40px;
	width: 80px;
    text-align: center;
}
.tabBar span.current{
	background-color:#3F88C7
}
a{
	color:#0099FF
}
a:hover{
	text-decoration:none;
	color:#0099FF;
}
a:active{
	text-decoration:none;
	color:#0099FF
}
</style>
<title>进销存系统</title>
</head>
<body>
#end


#macro(footer)
</body>
</html>
<script type="text/javascript" src="$!base/static/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="$!base/static/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="$!base/static/lib/layer/2.1/extend/layer.ext.js"></script> 
<script type="text/javascript" src="$!base/static/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="$!base/static/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="$!base/static/lib/jquery.validation/1.14.0/messages_zh.min.js"></script> 
<script type="text/javascript" src="$!base/static/js/H-ui.js"></script> 
<script type="text/javascript" src="$!base/static/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="$!base/static/plus/template.js"></script>
<script type="text/javascript" src="$!base/static/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="$!base/static/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="$!base/static/plus/Jq-plus.js?version=$!date.getDate().getTime()"></script>
<script type="text/javascript" src="$!base/static/plus/KeyValue.js"></script> 
<script type="text/javascript" src="$!base/static/upload/ajaxfileupload.js"></script>
<script type="text/javascript" src="$!base/static/upload/uploadHelper.js"></script> 
<script type="text/javascript" src="$!base/static/lib/jquery-ui/jquery-ui.min.js"></script> 
<script type="text/javascript" src="$!base/static/lib/cityPicker/js/city-picker.data.js"></script> 
<script type="text/javascript" src="$!base/static/lib/cityPicker/js/city-picker.js"></script> 
#end

#macro(nav $nav)
<nav class="breadcrumb">
	<i class="Hui-iconfont"></i> 
	<a class="maincolor" href="javascript:void(0)">首页</a>
	#foreach($!obj in $!nav)
		<span class="c-999 en">&gt;</span>
		<span class="c-666">
			#if( "$!obj.href" != "" )
				<a href="$!base/$!obj.href">$!obj.title</a>
			#else
				$!obj.title
			#end
		</span>
	#end
</nav>
#end


#macro(upload $id $fn $accept $type)
	<span class="btn-upload form-group">
		<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i>浏览文件</a>
		<input type="file" multiple id="$!id" class="input-file" onchange="upload('$!id',$fn,'$!accept','$!type')" #if( "$!accept" != "" ) accept="$!accept" #end>
	</span>
#end

#macro(detail $detail)
	#set($formId = "modify-form")
	#if( "$!detail.id" != "" )
		#set($formId = "$!detail.id")
	#end
	<div class="page-container">
		<form method="post" class="form form-horizontal" id="$formId">
			#if( "$!detail.hiddens" != "" )
				#foreach($item in $!detail.hiddens)
					<input type="hidden" id="$!item.name" name="$!item.name" value="$!item.value" />
				#end
			#end
			#foreach($_row in $!detail.rows)
				<div class="row cl">
					#foreach($!_col in $!_row.cols)
						#set($col_length = 4)
						#if( "$!_col.length" != "" )
							#set($col_length = "$!_col.length")
						#end
						#if( "$!_col.colType" == "label" )
							<label class="form-label col-xs-$!col_length col-sm-$!col_length">#if( "$!_col.colRequired" == "true" )<span class="c-red">*</span>#end $!_col.text:</label>
						#elseif( "$!_col.colType" == "text" )	
							<div class="formControls col-xs-$!col_length col-sm-$!col_length">
								#if( "$!_col.readonly" == "true" )
									$!_col.value
								#else
									<input type="text" class="input-text" value="$!_col.value" placeholder="$!_col.placeholder" id="$!_col.name" name="$!_col.name">
								#end
							</div>
						#elseif( "$_col.colType" == "date" )
							<div class="formControls col-xs-$!col_length col-sm-$!col_length">
								#if( "$!_col.readonly" == "true" )
									$!_col.value
								#else
									<input type="text" class="input-text Wdate" value="$!_col.value" placeholder="$!_col.placeholder" id="$!_col.name" name="$!_col.name" onfocus="WdatePicker()">
								#end
							</div>	
						#elseif( "$!_col.colType" == "select" )	
							<div class="formControls col-xs-$!col_length col-sm-$!col_length">
								#if( "$!_col.readonly" == "true" )
									#if( "$!_col.options" != "" )
										#foreach($!opt in $!_col.options)
											#if( "$!_col.value" == "$!opt.value" ) $!opt.text #end
										#end
									#end
									
									#if( "$!_col.dataSource" != "" )
										#foreach($opt in $!_col.dataSource)
											#set($datasuurcevalue = "")
											#set($datasuurcevalue = $!opt.getClass().getMethod("$!_col.getValueMethod", null).invoke($!opt, null))
											#if("$!_col.value" == "$!datasuurcevalue") $!opt.getClass().getMethod("$!_col.getNameMethod", null).invoke($!opt, null) #end
										#end
									#end
								#else
									<select class="select select-box" id="$!_col.name" name="$!_col.name">
										<option value="">--请选择--</option>
										#if( "$!_col.options" != "" )
											#foreach($!opt in $!_col.options)
												<option value="$!opt.value" #if( "$!_col.value" == "$!opt.value" ) selected #end >$!opt.text</option>
											#end
										#end
										
										#if( "$!_col.dataSource" != "" )
											#foreach($opt in $!_col.dataSource)
												#set($datasuurcevalue = "")
												#set($datasuurcevalue = $!opt.getClass().getMethod("$!_col.getValueMethod", null).invoke($!opt, null))
												<option value="$!datasuurcevalue" #if("$!_col.value" == "$!datasuurcevalue") selected #end>
			            							$!opt.getClass().getMethod("$!_col.getNameMethod", null).invoke($!opt, null)
			            						</option>
											#end
										#end
									</select>
								#end
							</div>	
						#elseif( "$!_col.colType" == "checkbox" )	
							<div class="formControls col-xs-$!col_length col-sm-$!col_length skin-minimal">
								#set($valsp = $!_col.value.split(","))
								#set($seq = 0)
								#if( "$!_col.options" != "" )
									#foreach( $!opt in $!_col.options )
										#set($bool = false)
										#foreach($!v in $!valsp)
											#if( "$!v" == "$!opt.value" )
												#set($bool = true)
											#end
										#end
										<div class="check-box">
											<input type="checkbox" id="$!_col.name$!seq" name="$!_col.name" value="$!opt.value" #if( $!bool ) checked #end #if("$!_col.readonly" == "true") disabled #end>
											<label for="$!_col.name$!seq">$!opt.text</label>
										</div>
										#set($seq = $seq + 1)
									#end
								#end
								
								#if( "$!_col.dataSource" != "" )
									#set($seq = 0)
									#foreach($opt in $!_col.dataSource)
										#set($datasuurcevalue = "")
										#set($datasuurcevalue = $!opt.getClass().getMethod("$!_col.getValueMethod", null).invoke($!opt, null))
										#set($bool = false)
										#foreach($!v in $!valsp)
											#if( "$!v" == "$!datasuurcevalue" )
												#set($bool = true)
											#end
										#end
										<div class="radio-box">
											<input type="checkbox" id="$!_col.name$!seq" name="$!_col.name" value="$!datasuurcevalue" #if( $!bool ) checked #end #if("$!_col.readonly" == "true") disabled #end>
											<label for="$!_col.name$!seq">$!opt.getClass().getMethod("$!_col.getNameMethod", null).invoke($!opt, null)</label>
										</div>
										#set($seq = $seq + 1)
									#end
								#end
							</div>
						#elseif( "$!_col.colType" == "radiobox" )
							<div class="formControls col-xs-$!col_length col-sm-$!col_length skin-minimal">
								#if( "$!_col.options" != "" )
									#set($seq = 0)
									#foreach( $opt in $!_col.options )
										<div class="radio-box">
											<input type="radio" id="$!_col.name$!seq" name="$!_col.name" value="$!opt.value" #if( "$!_col.value" == "$!opt.value" ) checked #end #if("$!_col.readonly" == "true") disabled #end>
											<label for="$!_col.name$!seq">$!opt.text</label>
										</div>
										#set($seq = $seq + 1)
									#end
								#end
								
								#if( "$!_col.dataSource" != "" )
									#set($seq = 0)
									#foreach($opt in $!_col.dataSource)
										#set($datasuurcevalue = "")
										#set($datasuurcevalue = $!opt.getClass().getMethod("$!_col.getValueMethod", null).invoke($!opt, null))
										<div class="radio-box">
											<input type="radio" id="$!_col.name$!seq" name="$!_col.name" value="$!datasuurcevalue" #if( "$!_col.value" == "$!datasuurcevalue" ) checked #end #if("$!_col.readonly" == "true") disabled #end>
											<label for="$!_col.name$!seq">$!opt.getClass().getMethod("$!_col.getNameMethod", null).invoke($!opt, null)</label>
										</div>
										#set($seq = $seq + 1)
									#end
								#end
							</div>
						#elseif( "$!_col.colType" == "textarea" )
							<div class="formControls col-xs-$!col_length col-sm-$!col_length">
								#if("$!_col.readonly" == "true")  
									$!_col.value
								#else
									#set($maxlength = 200)
									#if( "$!_col.maxlength" != "")
										#set($maxlength = $!_col.maxlength)
									#end
									<textarea id="$!_col.name" name="$!_col.name" class="textarea" placeholder="$!_col.placeholder" datatype="*0-$!maxlength" dragonfly="true" onkeyup="textarealength(this,$!maxlength)">$!_col.value</textarea>
									#set($textarea-numberbar=0)
									#if( "$!_col.value" != "" )
										#set($textarea-numberbar=$!_col.value.length())
									#end
									<p class="textarea-numberbar"><em class="textarea-length">$textarea-numberbar</em>/$!maxlength</p>
								#end
							</div>
						#elseif( "$!_col.colType" == "button" )
							#if( "$!_col.readonly" != "true" )
								<div class="formControls col-xs-$!col_length col-sm-$!col_length">
									#set($bool = true)
									#if( "$!_col.hasPermission" != "" )
										#set($bool = $!shiro.hasPermission("$!_col.hasPermission"))
									#end
									
									#if( $!bool )
										#set($buttonClass="btn btn-success radius")
										#if( "$!_col.classes" != "" )
											#set($buttonClass="$!_col.classes")
										#end
										<button type="button" class="$!buttonClass" onclick="$!_col.clickFun"><i class="Hui-iconfont $!_col.iclass"></i>$!_col.value</button>
									#end
								</div>
							#end
						#end
					#end
				</div>
			#end
		</form>
	</div>

	<script>
	$(function(){
		$('.skin-minimal input').iCheck({
			checkboxClass: 'icheckbox-blue',
			radioClass: 'iradio-blue',
			increaseArea: '20%'
		});
	});
	</script>
#end


#macro(queryDetail $param)

#set($rand = $!date.getDate().getTime())
#if( "$!param.showHeader" == "true" )	
	#header
#end

#if( "$!param.nav" != "" )
	#nav($!param.nav)
#end

<div class="page-container">
	#if( "$!param.query" != "" )
		<div class="cl mt-20">
			#foreach($!obj in $!param.query)
				#if( "$!obj.label" != "" )
					$!obj.label
				#end
				#if( "$!obj.type" == "selected" )
					<select class="select select-box" size="1" id="$!obj.id" name="$!obj.name" placeholder="$!obj.placeholder" style="$!obj.style">
						<option value="">--请选择--</option>
						#if( "$!obj.options" != "" )
							#foreach($!opt in $!obj.options)
								<option value="$!opt.value" #if( "$!obj.value" == "$!opt.value" ) selected #end >$!opt.text</option>
							#end
						#end
						
						#if( "$!obj.dataSource" != "" )
							#foreach($opt in $!obj.dataSource)
								#set($datasuurcevalue = "")
								#set($datasuurcevalue = $!opt.getClass().getMethod("$!obj.getValueMethod", null).invoke($!opt, null))
								<option value="$!datasuurcevalue" #if("$!obj.value" == "$!datasuurcevalue") selected #end>
            						$!opt.getClass().getMethod("$!obj.getNameMethod", null).invoke($!opt, null)
            					</option>
							#end
						#end
					</select>
				#end
				
				#if( "$!obj.type" == "text" )
					<input type="text" class="input-text" id="$!obj.id" name="$!obj.name" placeholder="$!obj.placeholder" style="$!obj.style"/>
				#end
				
				#if( "$!obj.type" == "date" )
					<input type="text" class="input-text Wdate" id="$!obj.id" name="$!obj.name" onfocus="WdatePicker()" placeholder="$!obj.placeholder" style="$!obj.style" />
				#end
				
				#if( "$!obj.type" == "button" )
					#set($bool = true)
					#if( "$!obj.hasPermission" != "" )
						#set($bool = $!shiro.hasPermission("$!obj.hasPermission"))
					#end
					#if( $!bool )
						#set($buttonClass="btn btn-success radius")
						#if( "$!obj.classes" != "" )
							#set($buttonClass="$!obj.classes")
						#end
						#set($clickFun = "query()")
						#if( "$!obj.clickFun" != "" )
							#set($clickFun = "$!obj.clickFun")	
						#end
						<button id="$!obj.id" name="$!obj.name" class="$!buttonClass" style="$!obj.style" onclick="$clickFun"><i class="Hui-iconfont $!obj.iclass"></i>$!obj.value</button>
					#end
				#end
			#end
		</div>
		
		<div class="mt-20" id="show$!rand">
		
		
		</div>
	#end
</div>

#if( "$!param.showHeader" == "true" )	
	#footer
#end

<script>
#set($key = "parameter$!rand")
var $!key = {};

$(function(){
	query();
});

function query(){
	#foreach($!obj in $!param.query)
		#if( "$!obj.type" != "button" )
			$!{key}["$!obj.id"] = $("#$!obj.id").val();
		#end	
	#end
	page(1);
}
function page(pageNum){
	$!{key}["pageNum"] = pageNum;
	queryData("$!base/$!param.url",$!key,function(result){
		if( result.code == 0 ){
			#if( "$!param.queryResultFun" != "" )
				$!{param.queryResultFun}(result["data"]);
			#end
			var html = template("tpl$!rand",result["data"]);
			$("#show$!rand").html(html);
			#if( "$!param.loaded" != "" )
				$!{param.loaded}();	
			#end
		}else{
			Jq.MessageBox.error(result.msg);
		}
	});
}
function reloadData(){
	var pageNum = $!{key}["pageNum"];
	page(pageNum);
}
</script>

<script id="tpl$!rand" type="text/html">
<table class="table table-border table-bordered table-hover table-bg table-sort" id="table">
	<thead>
		<tr class="text-c">
			#foreach($!obj in $!param.colums)
				<th width="$!obj.width">$!obj.text</th>
			#end
			#if( "$!param.operations" != "")
				<th width="90px">操作</th>
			#end
		</tr>
	</thead>
	<tbody>
		{{if list.length > 0}}
			{{each list as obj i}}
				<tr>
					#foreach($!obj in $!param.colums)
						#set($cls = "text-c")
						#if( "$!obj.cls" != "" )
							#set($cls = "$!obj.cls")
						#end
						<td class="$!cls">
							#if( "$!obj.colType" == "" || "$!obj.colType" == "singleton" )
								#if( "$!obj.type" == "date" )
									{{obj.$!obj.key | dateFormat : '$!obj.col_type'}}
								#elseif( "$!obj.type" == "number" )	
									{{obj.$!obj.key | numberFormat : $!obj.col_type}}
								#elseif( "$!obj.type" == "custom" )
										$!obj.key
								#else
									#if( "$!obj.property" != "" )
										{{$!{obj.property}[obj.$!obj.key]}}
									#else
										{{obj.$!obj.key}}
									#end
								#end
							#elseif( "$!obj.colType" == "multistation" )
								#foreach( $!cur_col in $!obj.keys )
									#if( "$!cur_col.type" == "date" )
										{{obj.$!cur_col.key | dateFormat : '$!cur_col.col_type'}}
									#elseif( "$!cur_col.type" == "number" )	
										{{obj.$!cur_col.key | numberFormat : $!cur_col.col_type}}
									#elseif( "$!cur_col.type" == "custom" )
										$!cur_col.key
									#else
										#if( "$!cur_col.property" != "" )
											{{$!{cur_col.property}[obj.$!cur_col.key]}}
										#else
											{{obj.$!cur_col.key}}
										#end
									#end
								#end
							#end
						</td>
					#end
					
					#if( "$!param.operations" != "")
						<td class="text-c">
						#foreach( $!operation in $!param.operations)
							#set($bool = true)
							#if( "$!operation.hasPermission" != "" )
								#set($bool = $!shiro.hasPermission("$!operation.hasPermission"))
							#end
							#if( $bool )
								#if( "$!operation.judgement" != "" )
									#set($jud = true)
									
									#foreach( $!jud1 in $!operation.judgement )
										#if($jud == true)
											#set($jud = "")
										#end
										#set($jud = $!jud + " (" )
										#foreach( $!jud2 in $jud1)
											#set($jud = $jud + " obj.$!{jud2.key} == '$!{jud2.value}' &&")
										#end
										#set($l = $!jud.length() - 2)
										#set($jud = $!jud.substring(0,$l))
										#set($jud = $jud + ") ||")
									#end
									#if("$jud" != "true")
										#set($l = $!jud.length() - 2)
										#set($jud = $!jud.substring(0,$l))
									#end									

									{{if $jud }}
										<a href="javascript:void(0)" onclick="$!operation.click"
											#if( "$!operation.property" != "" )
												#foreach( $!pro in $!operation.property )
													#if( "$!pro.custom" == "true" )
														$!pro.key="$!pro.value"
													#else
														$!pro.key="{{obj.$!pro.value}}"
													#end
												#end
											#end
										>$!operation.text</a>
									{{/if}}
								#else
									<a href="javascript:void(0)" onclick="$!operation.click"
										#if( "$!operation.property" != "" )
											#foreach( $!pro in $!operation.property )
												#if( "$!pro.custom" == "true" )
													$!pro.key="$!pro.value"
												#else
													$!pro.key="{{obj.$!pro.value}}"
												#end
											#end
										#end
									>$!operation.text</a>
								#end

							#end
						#end
						</td>
					#end
				</tr>
			{{/each}}
		{{else}}
			<tr>
				#set($columslength = $!param.colums.size())
				#if( "$!param.operations" != "")
					#set($columslength = $columslength + 1)
				#end
				<td colspan="$columslength" class="text-c">没有查询到结果</td>
			</tr>
		{{/if}}
	</tbody>
</table>
{{#page}}
</script>
#end

#macro(autocomplete $id $type $selectFun $closeFun)
<script>
$(function(){
    $( "#$!id" ).autocomplete({
    	autoFocus:true,
		source: function( request, response ) {
			toAjax("$!base/autocomplete",{"type":$type,"name":request.term},function(result){
				response( 
        			result.data
        		);
			});
      	},
      	select:function(event, ui){
      		#if( "$!selectFun" != "" )
      		$!{selectFun}(ui["item"])
      		#end
      	},
      	close:function(event,ui){
      		#if( "$!closeFun" != "" )
          	$!{closeFun}()
          	#end
      	}
    });
});
</script>
#end













#macro(addprojs)
<script>
	function closeAjaxDo() {
		$("#name").val("");
		$("#name").select();
		$("#name").focus();
		$("#div_btn").show();
	}
	
	
	function delRow(obj,types) { 
		if(types == 1) {
			if(confirm("是否删除该条" + msgInfo + "？")) {
				$(obj).parent().parent().remove(); 
				if($("#gitbody").find("tr").size() == 0 ){
					$("#div_btn").hide();
				}
			}
			
		} else {
			if(row_count > 0) {
				if(confirm("是否删除全部" + msgInfo + "？")) {
					$("#gitbody").find("tr").remove();
					row_count = 0;
					row_name = 0;
					$("#div_btn").hide();
				}
			}
		}
	}
	function del() { 
	var checked = $("input[type='checkbox'][name='count']"); 
		$(checked).each(function(){ 
			if($(this).attr("checked")==true) { 
			$(this).parent().parent().remove(); 
			} 
		}); 
	} 
	
	$("#btnSend").click(function() {
		if($("#gitbody").find("input[name='productId']").size() == 0) {
			alert("请录入" + msgInfo + "！");
			return;
		}
		var iszero = 0;
		var gdata = new Array();
		$("#gitbody").find("tr").each(function() {
			var obj = {};
			var info = $(this);
			info.attr("style","background:#F8F8FF; color:#F8F8FF");
			var gnums = info.find("input[name='goodsNum']").val() * 1;
			var gcounts = info.find("input[name='goodsCounts']").val() * 1;
			if(isNaN(gnums)) {
				iszero++;
				info.find("input[name='goodsNum']").val(0);
				info.find("input[name='goodsCounts']").val(0);
				info.attr("style","background:#FFC1C1; color:#FFC1C1");
				if(info.find("input[name='gspt']").val().indexOf("克") >= 0) {
					info.find("label[name='catejin']").text(" = 0市斤");
				}
			}
			if(gcounts == 0 && gnums == 0) {
				info.attr("style","background:#FFC1C1; color:#FFC1C1");
				iszero++;
			}
			obj["productId"] = info.find("input[name='productId']").val();
			obj["goodsNum"] = gnums;
			obj["goodsBuyPrice"] = info.find("input[name='goodsBuyPrice']").val();
			obj["goodsSellingPrice"] = info.find("input[name='goodsSellingPrice']").val();
			obj["goodsFreight"] = info.find("input[name='goodsFreight']").val();
			obj["suppliersId"] = info.find("select[name='suppliersId'] option:selected").val();
			gdata.push(obj);
		});
		if(iszero > 0) {
			alert("商品数量不能为0！");
			return;
		}
		console.log(gdata);
		toJson(urlPath,gdata,function(result) {
			window.location.reload()
		});
		
	});
	
	
	
	var row_name = 0;
	var row_count = 0; 
	function selectPro(data) {
		var obj = data.data;
		var table1 = $('#table1'); 
		var firstTr = table1.find('tbody>tr:first'); 
		var row = $("<tr id=tr" + row_name + "></tr>");
		var td1 = $("<td id=td" + row_name + ">"+"</td>"); 
		var td2 = $("<td id=td" + row_name + ">"+"</td>"); 
		var td3 = $("<td id=td" + row_name + ">"+"</td>"); 
		var td4 = $("<td id=td" + row_name + ">"+"</td>"); 
		td1.append("<label> "+ obj.goodsName + " </label>");
		td1.append("<input type='hidden' id='productId' name='productId' value='"+ obj.id + "' >");
		td1.append("<input type='hidden' id='gspt' name='gspt' value='"+ obj.goodsCategorys + "' >");
		if(obj.goodsCategorys.indexOf('克') >= 0) {
			td2.append("<label> "+ obj.goodsSpecifications/1000 + "kg（千克）" + " / " + obj.goodsCategory +" </label>");
		} else {
			td2.append("<label> "+ obj.goodsSpecifications + obj.goodsCategorys+ " / " + obj.goodsCategory +" </label>");
		}
		td3.append("<button type='button' onclick='changeCounts(1,"+ obj.goodsSpecifications+ "," +row_name+",-1)' class='button button-box button-tiny'><i class='fa fa-plus'>-</i></button>");
		td3.append("<input maxlength='8' style='width:100px' onfocus='$(this).select()' onkeyup='changeKeyUp(this,"+ obj.goodsSpecifications+ "," +row_name+",1)'  class='input-text'  type='text' id='goodsCounts' name='goodsCounts' value=0>");
		td3.append("<button type='button' onclick='changeCounts(1,"+ obj.goodsSpecifications+ "," +row_name+",1)' class='button button-box button-tiny'><i class='fa fa-plus'>+</i></button>");
		td3.append(obj.goodsCategory);
		td3.append("<button type='button' onclick='changeCounts(2,"+ obj.goodsSpecifications+ "," +row_name+",-1)' class='button button-box button-tiny'><i class='fa fa-plus'>-</i></button>");
		td3.append("<input maxlength='8' style='width:100px' onfocus='$(this).select()' onkeyup='changeKeyUp(this,"+ obj.goodsSpecifications+ "," +row_name+",-1)' class='input-text' size=1 type='text' id='goodsNum' name='goodsNum' value=0>") ;
		td3.append("<button type='button' onclick='changeCounts(2,"+ obj.goodsSpecifications + "," +row_name+",1)' class='button button-box button-tiny'><i class='fa fa-plus'>+</i></button>");
		if(obj.goodsCategorys.indexOf('克') >= 0) {
			td3.append(obj.goodsCategorys + "<label id='catejin' name='catejin'> = 0 市斤</label>");
		} else {
			td3.append(obj.goodsCategorys);
		}
		td4.append("<a onclick='delRow(this,1)'>删除</a>");
		row.append(td1); 
		row.append(td2); 
		row.append(td3); 
		pageSelectPro(table1,row,td2,obj,row_name);
		row.append(td4); 
		table1.append(row);
		$($("#tr" + row_name).find("button").eq(0)).attr("disabled","disabled");
		$($("#tr" + row_name).find("button").eq(2)).attr("disabled","disabled");
		row_count++;
		row_name++;
	}
	
	function changeCounts(t1,gs,nums,types) {
		var name = "";
		gs= Number(gs);
		var obj1 = $("#tr" + nums).find("td:eq(2)").find("input[name='goodsCounts']");
		var obj2 = $("#tr" + nums).find("td:eq(2)").find("input[name='goodsNum']");
		var gspt = $("#tr" + nums).find("input[name='gspt']").val();
		if(t1== 1) {
			name = "goodsCounts";
			addAndSub(name,nums,types);
			obj2.val(Number(obj1.val()) * gs);
			if(gspt.indexOf("克") >= 0) {
				$("#tr" + nums).find("label[name='catejin']").text(" = " + obj2.val() / 500 + " 市斤");
			}
			
		}else{
			name = "goodsNum";
			if(gspt.indexOf("克") >= 0) {
				addAndSubByG(name,nums,types);
			} else {
				addAndSub(name,nums,types);
			}
			obj1.val((Number(obj2.val()) / gs).toFixed(2));
		}
		$("#tr" + nums).attr("style","background:#F8F8FF; color:#F8F8FF");
	}
	
	function addAndSub(name,nums,types) {
		var obj = $("#tr" + nums).find("td:eq(2)").find("input[name="+ name +"]");
		var val = Number(obj.val());
		$(obj).val($(obj).val().replace(/[^\d.-]/g, '').replace(/(^\s*)|(\s*$)/g,''));
		
		val = ~~val;
		if(types == 1) {
			obj.val(val + 1);
		}else {
			var counts = val;
			if(counts <= 0) {
				obj.val(0);
			} else {
				obj.val(val - 1);
			}
		}
		if(obj.val() == 0) {
			$($("#tr" + nums).find("button").eq(0)).attr("disabled","disabled");
			$($("#tr" + nums).find("button").eq(2)).attr("disabled","disabled");
		} else {
			$($("#tr" + nums).find("button").eq(0)).removeAttr("disabled"); 
			$($("#tr" + nums).find("button").eq(2)).removeAttr("disabled"); 
		}
	}
	
	function addAndSubByG(name,nums,types) {
		var obj = $("#tr" + nums).find("td:eq(2)").find("input[name="+ name +"]");
		var val = Number(obj.val());
		$(obj).val($(obj).val().replace(/[^\d.-]/g, '').replace(/(^\s*)|(\s*$)/g,''));
		var p1 = Math.floor(val/10) *10 + 5  + "";
		var p2 = Math.floor(val/10) *10 + 5;
		if(p1.length > 1) {
			if(val > p2) {
				val = Math.ceil(val/10) * 10;
			} else if (val < p2) {
				val = p2 -5;
			}
		} else {
			if(val < 5) {
				val = 0;
			}
		}
		if(types == 1) {
			obj.val(val + 5);
		}else {
			var counts = val;
			if(counts <= 0) {
				obj.val(0);
			} else {
				if(obj.val() <= 4) {
					obj.val(0);
				} else {
					obj.val(val - 5);
				}
				
			}
		}
		$("#tr" + nums).find("label[name='catejin']").text(" = " + obj.val() / 500 + " 市斤");
		if(obj.val() == 0) {
			$($("#tr" + nums).find("button").eq(0)).attr("disabled","disabled");
			$($("#tr" + nums).find("button").eq(2)).attr("disabled","disabled");
		} else {
			$($("#tr" + nums).find("button").eq(0)).removeAttr("disabled"); 
			$($("#tr" + nums).find("button").eq(2)).removeAttr("disabled"); 
		}
	}
	
	function changeKeyUp(obj,gs,nums,types) {
		gs = Number(gs);
		$(obj).val($(obj).val().replace(/[^\d.-]/g, '').replace(/(^\s*)|(\s*$)/g,''));
		$(obj).val($(obj).val() * 1);
		var name = "";
		if(types == 1) {
			name = "goodsNum";
			var inp = $("#tr" + nums).find("td:eq(2)").find("input[name="+ name +"]");
			inp.val(Number($(obj).val()) * gs);
		} else {
			name = "goodsCounts";
			var inp = $("#tr" + nums).find("td:eq(2)").find("input[name="+ name +"]");
			inp.val((Number($(obj).val()) / gs).toFixed(2));
			
		}
		var gspt = $("#tr" + nums).find("input[name='gspt']").val();
		var o = $("#tr" + nums).find("td:eq(2)").find("input[name=goodsNum]") 
		if(gspt.indexOf("克") >= 0) {
			$("#tr" + nums).find("label[name='catejin']").text(" = " + o.val() / 500 + " 市斤");
		}
		if($(obj).val() == 0) {
			$($("#tr" + nums).find("button").eq(0)).attr("disabled","disabled");
			$($("#tr" + nums).find("button").eq(2)).attr("disabled","disabled");
		} else {
			$($("#tr" + nums).find("button").eq(0)).removeAttr("disabled"); 
			$($("#tr" + nums).find("button").eq(2)).removeAttr("disabled"); 
		}
		$("#tr" + nums).attr("style","background:#F8F8FF; color:#F8F8FF");
	}

	function isDoubles(obj) {
		var val =$(obj).val().trim();
		val = val.replace(/[^\d.]/g,""); 
		val = val.replace(/^\./g,""); 
		val = val.replace(/\.{2,}/g,"."); 
		val = val.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
		val = val.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); 
		$(obj).val(val);
		//$(obj).focus();
	}

	function isNum(obj) {
		var val =$(obj).val().trim() * 1;
		if(isNaN(val)) {
			val = val.replace(/[^\d.-]/g, '');
			val = val.replace(/(^\s*)|(\s*$)/g,'');
			$(obj).val(val);
			$(obj).focus();
			return;
		}
		$(obj).val(val);
		return "";
	}
</script>
#end





