#queryDetail({
	"showHeader":"true",
	"nav":[
			{"title":"汇款管理"},{"title":"汇款管理"}
	],
	"url":"remitInfo",
	"query":[
				{"type":"text","label":"商品名称","id":"name","name":"name","placeholder":"商品名称","style":"width:150px"},
				{"type":"button","value":"查询","clickFun":"query()","iclass":"Hui-iconfont-search2"},
				{"type":"button","value":"添加商品","clickFun":"add()","hasPermission":"goodsInfo:add","classes":"btn btn-primary size-M radius","iclass":"Hui-iconfont-add","style":"float:right;"}
	],
	"colums":[
		{"text":"序号","type":"text","key":"id"},
		{"text":"汇款方式","type":"text","key":"remitType"},
		{"text":"汇款金额","type":"text","key":"remitMoney"},
		{"text":"汇款时间","type":"date","key":"createTime","col_type":"yyyy-MM-dd hh:mm:ss"}
	],
	"operations":[
		{"text":"查看","click":"edit(this)","property":[{"key":"id","value":"id"}]}
	]
})
#autocomplete("name" "0")

<script>
function add(){
	Jq.open({"url":"$!base/productInfo/add","title":"新增","height":"500px"},{},function(index){
		
		if( !parent.$("#form-product-edit").valid() ){
			return;
		}
		
		Jq.MessageBox.confirm("您确定保存该商品信息吗？",function(){
			toSaved("$!base/productInfo/add",parent.$("#form-product-edit").serialize(),function(result){
				if( result["code"] == 0 ){
					Jq.closeLoading(index);
					Jq.msg.success("操作成功");
					page();
				}else{
					Jq.msg.error(result["msg"]);
				}
			});
		});
	});
}

function edit(obj){
	var modify = $(obj);
	var id = modify.attr("id");
	Jq.open({"url":"$!base/productInfo/edit","title":"修改","height":"500px"},{"id":id},function(index){
	
		if( !parent.$("#form-product-edit").valid() ){
			return;
		}
	
		Jq.MessageBox.confirm("您确定保存该商品信息吗？",function(){
			toSaved("$!base/productInfo/edit",parent.$("#form-product-edit").serialize(),function(result){
				if( result["code"] == 0 ){
					Jq.closeLoading(index);
					Jq.msg.success("操作成功");
					page();
				}else{
					Jq.msg.error(result["msg"]);
				}
			});
		});
	});
}


</script>