#header

#nav("系统管理" "字典管理")

<div class="page-container">
	<div class="cl mt-20">
		##<h3>字典配置</h3><br>
		字典类型：
		<select class="select select-box" size="1" id="code" style="width:200px">
			<option value="">全部</option>
			#foreach( $!item in $!type)
				<option value="$!item.key">$!item.value</option>
			#end
		</select>
		<button onclick="query()" class="btn btn-success radius">
			<i class="Hui-iconfont Hui-iconfont-search2"></i>查询</button>
		
		#if( $!shiro.hasPermission("dictionary:add") )
			&nbsp;<button type="button" onclick="addData()" class="btn btn-primary size-M radius" style="float:right;"><i class="Hui-iconfont Hui-iconfont-add"></i>新增字典</button>
		#end 
		
		<div class="mt-20" id="show">
		</div>
		
	</div>
</div>	
#footer

<script>

var param = {};

$(function(){
	query();
});

function query(){
	param["code"] = $("#code").val();
	page(1);
}

function page(pageNum){
	param["pageNum"] = pageNum;
	queryData("$!base/dictionary",param,function(result){
		if( result.code == 0 ){
			var html = template("tpl",result["data"]);
			$("#show").html(html);
		}else{
			Jq.MessageBox.error(result.msg);
		}
	});
}

function addData(){
	Jq.open({"url":"$!base/dictionary/add","title":"新增","height":"250px"},{},function(index){
		
		if( !parent.$("#form-dictionary-edit").valid() ){
			return;
		}
		
		Jq.MessageBox.confirm("您确定保存该字典信息吗？",function(){
			toSaved("$!base/dictionary/add",parent.$("#form-dictionary-edit").serialize(),function(result){
				if( result["code"] == 0 ){
					Jq.closeLoading(index);
					Jq.msg.success("操作成功");
					page();
				}else{
					Jq.msg.error(result["msg"]);
				}
			});
		});
	});
}

function updateData(id){
	Jq.open({"url":"$!base/dictionary/edit","title":"修改","height":"300px"},{"id":id},function(index){
	
		if( !parent.$("#form-dictionary-edit").valid() ){
			return;
		}
	
		Jq.MessageBox.confirm("您确定保存该字典信息吗？",function(){
			toSaved("$!base/dictionary/edit",parent.$("#form-dictionary-edit").serialize(),function(result){
				if( result["code"] == 0 ){
					Jq.closeLoading(index);
					Jq.msg.success("操作成功");
					page();
				}else{
					Jq.msg.error(result["msg"]);
				}
			});
		});
	});
}

</script>


<script id="tpl" type="text/html">
<table class="table table-border table-bordered table-hover table-bg table-sort">
	<thead>
		<tr class="text-c">
			<th width="60px">编号</th>
			<th>类型</th>
			<th>字典值</th>
			<th width="120px">状态</th>
			<th width="120px">操作</th>
		</tr>
	</thead>
	<tbody>
		{{if list.length > 0}}
			{{each list as obj i}}
				<tr>
					<td class="text-c">{{obj.id}}</td>
					<td class="text-c">{{obj.dicCode}}</td>
					<td class="text-c">{{obj.dicVal}}</td>
					<td class="text-c">
						{{if obj["status"] == 0}}有效{{/if}}
						{{if obj["status"] == 1}}无效{{/if}}
					</td>
					<td class="text-c">
						#if( $!shiro.hasPermission("dictionary:update") )
							<a href="javascript:void(0)" onclick="updateData('{{obj.id}}')">编辑</a>
						#end
					</td>
				</tr>
			{{/each}}
		{{else}}
			<tr>
				<td colspan="5" class="text-c">没有查询到结果</td>
			</tr>
		{{/if}}
	</tbody>
</table>
{{#page}}
</script>