#header

<link href="$!base/static/css/button-style.css" rel="stylesheet" type="text/css" />
<form method="post" class="form form-horizontal" id="$formId" onsubmit="return false">
<div class="page-container">

<div class="cl mt-20">
商品名称：<input type="text" id="name" name="name" style="width:150px" class="input-text" />
<br>
<br>

	<table id="table1" class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="250px">商品名称</th>
				<th width="150px">规格</th>
				<th width="">收货数量</th>
				<th width="50px">操作</th>
			</tr>
		</thead>
		<tbody id="gitbody">
			</tbody>
		</table>
		
		</div>
		</div>
		<div align="center" id="div_btn" hidden="hidden">
		<input type="button" id="btnSend" name="btnSend" class="button button-primary button-rounded button-small" value=" 提   交"> 
		<input type="button" class="button button-primary button-rounded button-small" value=" 删   除" onclick="delRow(this,-1)"> 
		</div>
</form>
#footer
#autocomplete("name" "1" "selectPro" "closeAjaxDo")
#addprojs
<script>
	function pageSelectPro(tbl,tr,td,obj) {
		td.append("<input type='hidden' id='goodsBuyPrice' name='goodsBuyPrice'  value="+ obj.productBuyPrice+">");
		td.append("<input type='hidden' id='goodsSellingPrice' name='goodsSellingPrice'  value="+ obj.productSellingPrice+">");
		td.append("<input type='hidden' id='goodsFreight' name='goodsFreight'  value="+ obj.productFreight+">");
	}
	var urlPath = "$!base/addGoodsInfo/addList";
	var msgInfo = "收货信息";
	

	//$("#btnSend").unbind('click');
	//$("#btnSend").click(function() {
	//	
	//});
</script>
