#header


商品名称：<input type="text" id="name" name="name" style="width:150px" class="input-text" onfocus="$(this).val('')" />


<div class="page-container">
<div class="cl mt-20">
<table id="table1" class="table table-border table-bordered table-hover table-bg table-sort">
	<thead>
		<tr class="text-c">
			<th><input type="checkbox">全选</th>
			<th width="">商品名称</th>
			<th width="">规格</th>
			<th width="">收货数量</th>
			<th width="">进货价</th>
			<th width="">出货价</th>
			<th width="">运费</th>
			<th width="90px">操作</th>
		</tr>
	</thead>
	<tbody id="gitbody">
	</tbody>
</table>

</div>
</div>
<div align="center">
<input type="button" value="   添  加" onclick="addNew();"> 
<input type="button" value="   删   除" onclick=""> 
</div>
#footer
#autocomplete("name" "1" "selectTest")

<script>
	function delt(obj) {
		var modify = $(obj);
		var id = modify.attr("id");
		Jq.open({
			"url" : "$!base/productInfo/edit",
			"title" : "修改",
			"height" : "500px"
		}, {
			"id" : id
		}, function(index) {

			if (!parent.$("#form-product-edit").valid()) {
				return;
			}

			Jq.MessageBox.confirm("您确定保存该收货信息吗？", function() {
				toSaved("$!base/productInfo/edit", parent.$(
						"#form-product-edit").serialize(), function(result) {
					if (result["code"] == 0) {
						Jq.closeLoading(index);
						Jq.msg.success("操作成功");
						page();
					} else {
						Jq.msg.error(result["msg"]);
					}
				});
			});
		});
	}
	
	
	
	var row_name = 0;
	var row_count = 0; 
	function selectTest(data) {
		//console.log(data);	
		//data.data.goodsName;
		var obj = data.data;
		var table1 = $('#table1'); 
		var firstTr = table1.find('tbody>tr:first'); 
		var row = $("<tr id=tr" + row_name + "></tr>"); 
		var td1 = $("<td>"+row_count+"</td>"); 
		var td2 = $("<td id=td" + row_name + ">"+"</td>"); 
		var td3 = $("<td id=td" + row_name + ">"+"</td>"); 
		var td4 = $("<td id=td" + row_name + ">"+"</td>"); 
		var td5 = $("<td id=td" + row_name + ">"+"</td>"); 
		var td6 = $("<td id=td" + row_name + ">"+"</td>"); 
		var td7 = $("<td id=td" + row_name + ">"+"</td>"); 
		var td8 = $("<td id=td" + row_name + ">"+"</td>"); 
		td1.append("<input type='checkbox' name='count' value='New'>"); 
		td2.append("<label> "+ obj.goodsName + " </label>") ;
		td3.append("<label> "+ obj.goodsSpecifications + obj.goodsCategory+" </label>") ;
		td4.append("<button type='button' onclick='changeCounts(1,"+ obj.goodsSpecifications +row_name+",'-1')'>&nbsp;-&nbsp;</button>");
		td4.append("<input style='width:75px' class='input-text'  type='text' name='goodsCounts' value=0>");
		td4.append("<button type='button' onclick='changeCounts(1,"+ obj.goodsSpecifications +row_name+",1)'>&nbsp;+&nbsp;</button>");
		td4.append("<center>箱</center>");
		td4.append("<button type='button' onclick='changeCounts(2,"+ obj.goodsSpecifications +row_name+",-1)'>&nbsp;-&nbsp; </button>");
		td4.append("<input style='width:75px' class='input-text' size=1 type='text' name='goodsNum' value=0>") ;
		td4.append("<button type='button' onclick='changeCounts(2,"+ obj.goodsSpecifications +row_name+",1)'>&nbsp;+&nbsp;</button>");
		td4.append("<center>瓶</center>");
		td5.append("<input  style='width:100px' class='input-text' type='text' name='goodsBuyPrice'  value="+ obj.productBuyPrice+">") ;
		td6.append("<input style='width:100px' class='input-text' type='text' name='goodsSellingPrice' value="+ obj.productSellingPrice+">") ;
		td7.append("<input style='width:100px' class='input-text' type='text' name='goodsFreight' value="+ obj.productFreight+">") ;
		td8.append("<a onclick='delRow(this,1)'>删除</a>") ;
		row.append(td1); 
		row.append(td2); 
		row.append(td3); 
		row.append(td4); 
		row.append(td5); 
		row.append(td6); 
		row.append(td7); 
		row.append(td8); 
		table1.append(row);
		row_count++;
		row_name++;
		//alert("#name").val();
	}

	function delRow(obj,types) 
	{ 
		if(types == 1) {
			if(confirm("是否删除该条收货？")) {
				$(obj).parent().parent().remove(); 
			}
		} else {
			if(row_count > 0) {
				if(confirm("是否删除全部收货信息？")) {
					$("#gitbody").find("tr").remove();
					row_count = 0;
					row_name = 0;
				}
			}
		}
	}
	function del() 
	{ 
	var checked = $("input[type='checkbox'][name='count']"); 
	$(checked).each(function(){ 
	if($(this).attr("checked")==true) //注意：此处判断不能用$(this).attr("checked")==‘true'来判断。 
	{ 
	$(this).parent().parent().remove(); 
	} 
	}); 
	} 
	
	function changeCounts(t1,gs,nums,types) {
		var name = "";
		alert(tyeps);
		//gs= Number(gs);
		var obj1 = $("#tr" + nums).find("td:eq(3)").find("input[name='goodsCounts']");
		var obj2 = $("#tr" + nums).find("td:eq(3)").find("input[name='goodsNum']");
		if(t1== 1) {
			name = "goodsCounts";
			addAndSub(name,nums,types);
			//obj2.val(gs * Number(obj1.val()));
			
		}else{
			name = "goodsNum";
			addAndSub(name,nums,types);
			//obj1.val(gs * Number(obj2.val()));
		}
		
	}
	
	function addAndSub(name,nums,types) {
		alert(name+nums+types);
		var obj = $("#tr" + nums).find("td:eq(3)").find("input[name="+ name +"]");
		if(types == 1) {
			obj.val(Number(obj.val()) + 1);
		}else {
			var counts = obj.val();
			if(counts <= 0) {
				obj.val(0)
			} else {
				obj.val(Number(obj.val()) - 1);
			}
		}
	}
	
	</script>