#header

<link href="$!base/static/css/button-style.css" rel="stylesheet" type="text/css" />
<form method="post" class="form form-horizontal" id="$formId" onsubmit="return false">
	<div class="page-container">
		<div class="cl mt-20">
			商品名称：<input type="text" id="name" name="name" style="width:150px" class="input-text" />
			<br><br>

			<table id="table1" class="table table-border table-bordered table-hover table-bg table-sort">
				<thead>
					<tr class="text-c">
						<th width="200px">商品名称</th>
						<th width="150px">规格</th>
						<th width="">收货数量</th>
						<th width="150px">供应商</th>
						<th width="50px">操作</th>
					</tr>
				</thead>
				<tbody id="gitbody">
	
				</tbody>
			</table>
		</div>
	</div>
	<div align="center" id="div_btn" hidden="hidden">
		<input type="button" id="btnSend" name="btnSend" class="button button-primary button-rounded button-small" value=" 提   交" onclick="submitData()"> 
		<input type="button" class="button button-primary button-rounded button-small" value=" 删   除" onclick="delAll()"> 
	</div>
</form>
#footer
#autocomplete("name" "1" "selectPro" "closeAjaxDo")
#addprojs
<script>
	var urlPath = "$!base/addGoodsInfo/addList";
	var msgInfo = "收货信息";
	
	function subData(obj,info) {
		obj["productId"] = info.find("input[name='productId']").val();
		obj["goodsNum"] = info.find("input[name='goodsNum']").val();
		obj["goodsBuyPrice"] = info.find("input[name='goodsBuyPrice']").val();
		obj["goodsSellingPrice"] = info.find("input[name='goodsSellingPrice']").val();
		obj["goodsFreight"] = info.find("input[name='goodsFreight']").val();
		obj["suppliersId"] = info.find("select[name='suppliersId'] option:selected").val();
	}
	/**
		{{if suppliers[1] != null}}
			<select id="suppliersId" name="suppliersId" class="select select-box">
			{{each suppliers as item i}}
				<option value="{{item.suppliersId}}">{{item.name}}</option>
			{{/each}}
			</select>
		{{else}}
			{{each suppliers as item i}}
				<label value="{{item.suppliersId}}">{{item.name}}</label>
				<input type="hidden" id="suppliersId" name="suppliersId" value="{{item.suppliersId}}" >
			{{/each}}
		{{/if}}
	
	**/
</script>

<script id="selectProTpl" type="text/html">
<tr>
	<td>
		<label>{{goodsName}}</label>
		<input type="hidden" id="productId" name="productId" value="{{id}}">
		<input type="hidden" id="gspt" name="gspt" value="{{goodsCategorys}}">
	</td>
	<td>
		<label>
			{{if goodsCategorys.indexOf('克') >= 0 }}
				{{ goodsSpecifications / 1000 }} kg（千克）
			{{else}}
				{{ goodsSpecifications }}{{ goodsCategorys }} 
			{{/if}}
			/ {{goodsCategory}}
		</label>
		<input type="hidden" id="goodsBuyPrice" name="goodsBuyPrice" value="{{productBuyPrice}}">
		<input type="hidden" id="goodsSellingPrice" name="goodsSellingPrice" value="{{productSellingPrice}}">
		<input type="hidden" id="goodsFreight" name="goodsFreight" value="{{productFreight}}">
	</td>
	<td>
		<button type="button" onclick="changeCounts(1,'{{ goodsSpecifications }}',this,-1)" class="button button-box button-tiny" disabled><i class="fa fa-plus">-</i></button>
		<input maxlength="8" style="width:100px" onfocus="$(this).select()" onkeyup="changeKeyUp(this,'{{ goodsSpecifications }}',0,1)"  class="input-text"  type="text" id="goodsCounts" name="goodsCounts" value=0>
		<button type="button" onclick="changeCounts(1,'{{goodsSpecifications}}',this,1)" class="button button-box button-tiny"><i class='fa fa-plus'>+</i></button>

		{{goodsCategory}}

		<button type="button" onclick="changeCounts(2,'{{goodsSpecifications}}',this,-1)" class="button button-box button-tiny" disabled><i class="fa fa-plus">-</i></button>
		<input maxlength="8" style="width:100px" onfocus="$(this).select()" onkeyup="changeKeyUp(this,'{{goodsSpecifications}}',0,-1)" class="input-text" size=1 type="text" id="goodsNum" name="goodsNum" value=0>
		<button type="button" onclick="changeCounts(2,'{{goodsSpecifications}}',this,1)" class="button button-box button-tiny"><i class="fa fa-plus">+</i></button>

		{{if goodsCategorys.indexOf('克') >= 0 }}
			{{goodsCategorys}}<label id='catejin' name='catejin'> = 0 市斤</label>
		{{else}}
			{{goodsCategorys}}
		{{/if}}
	</td>
	<td>
		<select id="suppliersId" name="suppliersId" class="select select-box">
		{{each suppliers as item i}}
			<option value="{{item.suppliersId}}">{{item.name}}</option>
		{{/each}}
		</select>
	</td>
	<td>
		<a onclick="delRow(this)">删除</a>
	</td>
</tr>	
</script>
