#detail({
	"id":"form-goods-edit",
	"hiddens":[
		{"name":"id","value":"$!obj.id"}
	],
	"rows":[
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"商品名称"},
			{"colType":"text","length":"9","name":"productName","value":"$!obj.productName","readonly":"true"}
		]},
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"商品分类"},
			{"colType":"text","length":"9","name":"dicVal","value":"$!obj.dicVal","readonly":"true"}
		]},
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"商品规格"},
			{"colType":"text","length":"9","name":"goodsSpecificationsmsg","value":"$!obj.goodsSpecifications$!obj.goodsCategory","readonly":"true"}
		]},
		{"cols":[
			{"colType":"label","length":"2","text":"收货数量"},
			{"colType":"text","length":"9","name":"dicVal","value":"$!obj.goodsCounts","readonly":"true"},
			{"colType":"text","length":"3","name":"goodsCounts","value":"$!obj.goodsCounts","placeholder":"请输入收货数量"},
			{"colType":"text","length":"0","name":"","value":"$!obj.goodsCategory","readonly":"true"},
			{"colType":"text","length":"3","name":"goodsNum","value":"$!obj.goodsNum"},
			{"colType":"text","length":"0","name":"","value":"$!obj.goodsCategorys","readonly":"true"}
		]},
		{"cols":[
			{"colType":"label","length":"2","text":"运费"},
			{"colType":"text","length":"9","name":"goodsFreight","value":"$!obj.goodsFreight","placeholder":"请输入运费"}
		]},
		{"cols":[
			{"colType":"label","length":"2","text":"进货价"},
			{"colType":"text","length":"9","name":"goodsBuyPrice","value":"$!obj.goodsBuyPrice","placeholder":"请输入进货价"}
		]},
		{"cols":[
			{"colType":"label","length":"2","text":"出货价"},
			{"colType":"text","length":"9","name":"goodsSellingPrice","value":"$!obj.goodsSellingPrice","placeholder":"请输入出货价"}
		]},
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"状态"},
			{"colType":"select","length":"9","name":"goodsStatus","value":"$!obj.goodsStatus","placeholder":"请输入状态","options":[{"value":"0","text":"新增"},{"value":"1","text":"物流对数"},{"value":"2","text":"物流结款"},{"value":"3","text":"供应商对数"},{"value":"4","text":"供应商结款"}],"readonly":"true"}
		]}
	]
})
<input type='hidden' id='goodsSpecifications' value='$!obj.goodsSpecifications'>
<script>
$(function(){
	$("#goodsCounts").keyup(function(){
		var val = $(this).val();
		var sp = $("#goodsSpecifications").val();
		$("#goodsNum").val(val*sp);
	});
	
	$("#goodsNum").keyup(function(){
		var val = $(this).val();
		var sp = $("#goodsSpecifications").val();
		$("#goodsCounts").val(val/sp);
	});
	$("#goodsCounts").focus(function(){
		$("#goodsCounts").select();
	});
	$("#goodsNum").focus(function(){
		$("#goodsNum").select();
	});
	$("#goodsFreight").focus(function(){
		$("#goodsFreight").select();
	});
	$("#goodsBuyPrice").focus(function(){
		$("#goodsBuyPrice").select();
	});
	$("#goodsSellingPrice").focus(function(){
		$("#goodsSellingPrice").select();
	});
	
	$("#form-goods-edit").validate({
		rules:{
			"goodsCounts":{
				maxlength:10,
				required:true,
				number: true
			},
			"goodsNum":{
				maxlength:10,
				required:true,
				digits: true
			},
			"goodsFreight":{
				maxlength:10,
				required:true,
				number: true
			},
			"goodsBuyPrice":{
				maxlength:10,
				required:true,
				number: true
			},
			"goodsSellingPrice":{
				maxlength:10,
				required:true,
				number: true
			}
		},
		message: {
			"goodsCounts":{
				maxlength:"收货数量不能超过十位数！",
				required:"请输入收货数量！",
				number: "请输出有效的数字！"
			},
			"goodsNum":{
				maxlength:"收货数量不能超过十位数！",
				required:"请输入收货数量！",
				digits: "请输入有效的数字"
			},
			"goodsFreight":{
				maxlength:"运费不能超过十位数！",
				required:"运费不能为空！",
				number: "运费不能超过十位数！"
			},
			"goodsBuyPrice":{
				maxlength:"进货价不能超过十位数！",
				required:"进货价不能为空！",
				number: "请输出有效的数字！"
			},
			"goodsSellingPrice":{
				maxlength:"出货价不能超过十位数！",
				required:"出货价不能为空！",
				number: "请输出有效的数字！"
			}
		}
	});
})
</script>