#detail({
	"id":"form-goods-edit",
	"hiddens":[
		{"name":"id","value":"$!obj.id"}
	],
	"rows":[
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"商品名称"},
			{"colType":"text","length":"9","name":"goodsName","value":"$!obj.goodsName","placeholder":"请输入商品名称"}
		]},
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"商品分类"},
			{"colType":"select","length":"9","name":"goodsType","value":"$!obj.goodsType","placeholder":"请输入商品分类","dataSource":$!goodsFL,"getValueMethod":"getDicVal","getNameMethod":"getDicVal"}
		]},
		{"cols":[
			{"colType":"label","length":"2","text":"商品类别"},
			{"colType":"text","length":"9","name":"goodsCategory","value":"$!obj.goodsCategory","placeholder":"请输入商品类别"}
		]},
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"商品规格"},
			{"colType":"select","length":"9","name":"goodsSpecifications","value":"$!obj.goodsSpecifications","placeholder":"请输入商品规格","dataSource":$!goodsGG,"getValueMethod":"getDicVal","getNameMethod":"getDicVal"}
		]},
		{"cols":[
			{"colType":"label","length":"2","text":"商品规格信息"},
			{"colType":"text","length":"9","name":"goodsSpecificationsDesc","value":"$!obj.goodsSpecificationsDesc","placeholder":"请输入商品规格信息"}
		]},
		{"cols":[
			{"colType":"label","length":"2","text":"条形码"},
			{"colType":"text","length":"9","name":"goodsBarCode","value":"$!obj.goodsBarCode","placeholder":"请输入条形码"}
		]},
		{"cols":[
			{"colType":"label","length":"2","text":"产地"},
			{"colType":"text","length":"9","name":"goodsPlaceOfOrigin","value":"$!obj.goodsPlaceOfOrigin","placeholder":"请输入产地"}
		]},
		{"cols":[
			{"colType":"label","length":"2","colRequired":true,"text":"状态"},
			{"colType":"select","length":"9","name":"goodsStatus","value":"$!obj.goodsStatus","placeholder":"请输入状态","options":[{"value":"0","text":"有效"},{"value":"1","text":"无效"}]}
		]}
	]
})