#queryDetail({
	"showHeader":"true",
	"nav":[
			{"title":"收货管理"},{"title":"收货管理"}
	],
	"url":"goodsInfo",
	"query":[
				{"type":"text","label":"商品名称","id":"productName","productName":"productName","placeholder":"商品名称","style":"width:150px"},
				{"type":"text","label":"收货数量","id":"counts","name":"counts","placeholder":"收货数量","style":"width:150px"},
				{"type":"date","label":"时间","id":"startDate","name":"startDate","placeholder":"收货时间","style":"width:150px"},
				{"type":"date","label":"至","id":"endDate","name":"endDate","placeholder":"收货时间","style":"width:150px"},
				{"type":"selected","label":"收货人","id":"createId","name":"createId","placeholder":"收货人","style":"width:150px","dataSource":$!usersInfo,"getValueMethod":"getId","getNameMethod":"getUserName"},
				{"type":"button","value":"查询","clickFun":"query()","iclass":"Hui-iconfont-search2"},
				{"type":"button","value":"新增收货","clickFun":"add()","hasPermission":"goodsInfo:add","classes":"btn btn-primary size-M radius","iclass":"Hui-iconfont-add","style":"float:right;"}
	],
	"colums":[
		{"text":"序号","type":"text","key":"id"},
		{"text":"商品名称","type":"text","key":"productName"},
		{"text":"商品分类","type":"text","key":"dicVal"},
		{"text":"商品规格","type":"text","key":"goodsSpecifications"},
		{"text":"收货数量（件）","type":"text","key":"goodsCounts"},
		{"text":"收货数量","colType":"multistation","keys":[{"type":"text","key":"goodsNum"},{"type":"text","key":"goodsCategory"}]},
		{"text":"运费","type":"text","key":"goodsPlaceOfOrigin"}
	],
	"operations":[
		{"text":"编辑","click":"edit(this)","property":[{"key":"id","value":"id"}]}
	]
})

<script>
function add(){
	Jq.open({"url":"$!base/goodsInfo/add","title":"新增","height":"500px"},{},function(index){
		
		if( !parent.$("#form-goods-edit").valid() ){
			return;
		}
		
		Jq.MessageBox.confirm("您确定保存该收货信息吗？",function(){
			toSaved("$!base/goodsInfo/add",parent.$("#form-goods-edit").serialize(),function(result){
				if( result["code"] == 0 ){
					Jq.closeLoading(index);
					Jq.msg.success("操作成功");
					page();
				}else{
					Jq.msg.error(result["msg"]);
				}
			});
		});
	});
}

function edit(obj){
	var modify = $(obj);
	var id = modify.attr("id");
	Jq.open({"url":"$!base/goodsInfo/edit","title":"修改","height":"500px"},{"id":id},function(index){
	
		if( !parent.$("#form-goods-edit").valid() ){
			return;
		}
	
		Jq.MessageBox.confirm("您确定保存该收货信息吗？",function(){
			toSaved("$!base/goodsInfo/edit",parent.$("#form-goods-edit").serialize(),function(result){
				if( result["code"] == 0 ){
					Jq.closeLoading(index);
					Jq.msg.success("操作成功");
					page();
				}else{
					Jq.msg.error(result["msg"]);
				}
			});
		});
	});
}


</script>