#header

<link href="$!base/static/css/H-ui.login.css" rel="stylesheet" type="text/css" />

<div class="header"></div>

<div class="loginWraper">
	<div id="loginform" class="loginBox">
    	<form class="form form-horizontal" method="post">
    		<div id="error" style="text-align:center;color:red">
    			
    		</div>
    	
      		<div class="row cl">
        		<label class="form-label col-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        		<div class="formControls col-8">
          			<input id="username" name="username" type="text" placeholder="账户" class="input-text size-L">
        		</div>
      		</div>
      		
      		<div class="row cl">
        		<label class="form-label col-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        		<div class="formControls col-8">
          			<input id="password" name="password" type="password" placeholder="密码" class="input-text size-L">
        		</div>
      		</div>
      		
      		<div class="row cl">
        		<div class="formControls col-8 col-offset-3">
          			<input class="input-text size-L" type="text" id="validateCode" value="aaa" name="validateCode" placeholder="验证码" style="width:150px;">
          			<img id="yzm" src="$!base/code/yzm" onclick="validate()">
          			<a id="kanbuq" href="javascript:void(0);" onclick="validate()">看不清，换一张</a> 
       			</div>
      		</div>
      		
      		
      		<div class="row">
        		<div class="formControls col-8 col-offset-3">
          			<input name="" type="button" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;" onclick="login()">
          			<input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
        		</div>
      		</div>
    	</form>
  	</div>
</div>
<div class="footer">Copyright 你的公司名称 by H-ui.admin.v2.3</div>

#footer

<script>
$(function(){
	$("#username").keyup(function(e){
		if( e.keyCode == 13 ){
			$("#password").focus();
		}
	});
	
	$("#password").keyup(function(e){
		if( e.keyCode == 13 ){
			$("#validateCode").focus();
		}
	});
	

	$("#validateCode").keyup(function(e){
		if( e.keyCode == 13 ){
			login();
		}
	});
});

function validate(){
	$("#yzm").attr("src","$!base/code/yzm?rand="+(new Date()).getTime());
}


function login(){
	var username = $("#username").val();
	if( username == "" ){
		$("#error").html("请输入用户名");
		return;	
	}
	var password = $("#password").val();
	if( password == "" ){
		$("#error").html("请输入密码");
		return;
	}
	var yzm = $("#validateCode").val();
	if( yzm == "" ){
		$("#error").html("请输入验证码");
		return;
	}
	
	toSaved("$!base/login",{"username":username,"password":password,"code":yzm},function(result){
		if( result.code == 0 ){
			window.location.href = "$!base/" + result.data;
		}
	});
}
</script>